*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
li{
    list-style: none;
}
.full_wrapper{
    width: 100%;

}
.container{
    width: 1190px;
    margin: 0 auto;
}
.mr{
    margin-right: 22.5px;
}
.mrr{
    margin-right: 10px;
}

/* ====================
Common Css End
 ====================*/

.top-benner-bg{
    height: 80px;
    background-color:rgb(226, 226, 226);
}
.top-benner-bg .top-benner{
    height: 80px;
    background-color:rgb(226, 226, 226);
}



/* ====================
Heider Menu Css Start
 ====================*/
.heider-menu-bg{
    height: 30px;
    background: rgb(236, 236, 236);

}
.heider-menu-bg .heider-menu{
    height: 30px;
    background: rgb(236, 236, 236);
}
.heider-menu-bg .heider-menu ul{
   float: right;
}
.heider-menu-bg .heider-menu ul li{
   float: left;
}
.heider-menu-bg .heider-menu ul li a{
   font-size: 13px;
   padding-left: 30px;
   line-height: 30px;
   color: black;
   transition: all linear 0.4s;
}
.heider-menu-bg .heider-menu ul li:hover > a{
  text-decoration: underline;
   color: rgb(255, 81, 0);
}




/* ====================
Heider Menu Css End
 ====================*/



/* ====================
logo-section Css End
 ====================*/


 .logo-section-bg{
     height: 80px;
    
    
    
 }
 .logo-section-bg .logo-section{
     height: 80px;
 }
 .logo-section-bg .logo-section{
     height: 80px;
 }
 .logo-section-bg .logo-section .logo-section-logo{
     height: 80px;
     width: 200px;
     float: left;
     line-height: 80px;
 }
 .logo-section-bg .logo-section .logo-section-logo img{
    height: 40px;
     width: 140px;
    
     
 }
 
 .logo-section-bg .logo-section .logo-section-search {
   height: 80px;
   width: 690px;
   float: left;
   position: relative;
    
     
 }


 .logo-section-bg .logo-section .logo-section-search  input{
    float: left;
   
    font-size: 17px;
    border: none;
   
    width: 690px;
    height: 45px;
    margin-top: 17.5px;
    background-color: rgb(236, 236, 236);;

  }

 .logo-section-bg .logo-section .logo-section-search  button{
   position: absolute;
  background: rgb(245, 114, 36);
  top: 17.50px;
  right: 0;
  height: 46px;
  width: 46px;
  border: none;
  color: #fff;
  cursor: pointer;

  }

 .logo-section-bg .logo-section .logo-section-shop{
   height: 80px;
   width: 100px;
   float: left;
   text-align: center;

   

  }
 .logo-section-bg .logo-section .logo-section-shop  a img{
margin-top: 30px;

  }
 .logo-section-bg .logo-section .logo-section-benner{
 width: 200px;
 float: right;
 height: 80px;

  }
 .logo-section-bg .logo-section .logo-section-benner img{
 width: 200px;
 margin-top: 16px;
  }




/* ====================
logo-section Css End
 ====================*/



/* ====================
Benner Css Start
 ====================*/

.benner-bg{
    height: 350px;
    background:rgb(213, 58, 2);
    
}
.benner-bg .benner{
    height: 350px;
    

}
.benner-bg .benner .benner-menu{
    height: 350px;
    width: 200px;
    float: left;
    background: rgb(255, 255, 255);
    

}
.benner-bg .benner .benner-menu ul li{
    position: relative;
    
    height: 30px;
padding-left: 10px;
}
.benner-bg .benner .benner-menu ul li a{
    color: rgb(79, 76, 76);
    display: block;
    padding: 5px;
    
    

  
}
.benner-bg .benner .benner-menu ul li:hover > a{
    background: rgb(226, 226, 226);
    color: rgb(6, 155, 255);
   
  
}


.benner-bg .benner .benner-menu ul li ul {
   position: absolute;
   top: 0;
   left: 200px;
   width: 200px;
   height: 350px;
   box-shadow:  1px rgb(204, 21, 21);
   background: rgb(255, 255, 255);
   visibility: hidden;

 
  
 
}
.benner-bg .benner .benner-menu ul li:hover ul {
  visibility: visible;
  
 
}
.benner-bg .benner .benner-menu ul li ul li {
    height: 30px;
   
    
}
.benner-bg .benner .benner-menu ul li ul li a{
    color: rgb(79, 76, 76);
    display: block;
   
   
 
}
.benner-bg .benner .benner-menu ul li:nth-child(2) ul{
    position: absolute;
    top: -30px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(3) ul{
    position: absolute;
    top: -60px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(4) ul{
    position: absolute;
    top: -90px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(5) ul{
    position: absolute;
    top: -120px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(6) ul{
    position: absolute;
    top: -150px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(7) ul{
    position: absolute;
    top: -180px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(8) ul{
    position: absolute;
    top: -210px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(9) ul{
    position: absolute;
    top: -240px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(10) ul{
    position: absolute;
    top: -270px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(11) ul{
    position: absolute;
    top: -300px;
    left: 200px;
 
}
.benner-bg .benner .benner-menu ul li:nth-child(12) ul{
    position: absolute;
    top: -330px;
    left: 200px;
 
}






.benner-bg .benner .benner-img{
    height: 350px;
    width: 970px;
    float: left;

}
.benner-bg .benner .benner-img img{
   
width: 990px;
height: 350px;
}



/* ====================
Benner Css End
 ====================*/




/* ====================
services Css start
 ====================*/
.services-bg{
    height: 60px;
    background: rgb(236, 236, 236);;
}
.services-bg .services{
    height: 60px;
}
.services-bg .services .services-item{
    height: 40px;
    background: rgb(255, 255, 255);
    width: 220px;
    border-radius: 20px;
    float: left;
    margin-top: 10px;
    transition: all linear 0.4s;
}
.services-bg .services .services-item:hover{
    box-shadow: 0px 5px 12px 5px gray;
}
.services-bg .services .services-item img{
   height: 30px;
   margin-left: 5px;
  
   display: inline;
}
.services-bg .services .services-item span{
   
   display: inline;
 line-height: 40px;
}








/* ====================
services  Css End
 ====================*/



/* ====================
Product Section 1  Css  Start
 ====================*/


.product1-bg{
    height: 400px;
    background-color:rgb(226, 225, 225);
    padding-top: 20px;
}
.product1-bg .product1{
    height: 400px;
    
}

.product1-bg .product1  .offer-item{
    height: 300px;
    width: 190px;
     float: left; 
     background: rgb(255, 255, 255);
     transition: all linear 0.4s;
}
.product1-bg .product1  .offer-item:hover{
 
     box-shadow: 0px 5px 12px 5px gray;
     
}
.product1-bg .product1  .offer-item img{
    width: 190px;
}
.product1-bg .product1  .offer-item h4{
    color: rgb(60, 60, 60);
    padding-top: 5px;
    padding-bottom: 5px;
}
.product1-bg .product1  .offer-item h2{
    color: rgb(232, 141, 23);
}
.product1-bg .product1  .offer-item h3{
    display: inline;
    color: rgb(60, 60, 60);
   
    
}
.product1-bg .product1  .offer-item h5{
    display: inline;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(60, 60, 60);
}

.product1-bg .product1 .start{
    margin-right:1040px;
     display: inline;
     margin-bottom: 20px;
  }
  .product1-bg .product1 .end{
     text-align: right;
     display: inline;
     margin-right: 0;
     margin-bottom: 20px;
  }
  


/* ====================
Product Section 1  Css End
 ====================*/





/* ====================
Product Section 2  Css  Start
 ====================*/




/* ====================
Product Section 2  Css End
 ====================*/


 .product3-bg{
    height: 380px;
    background-color:rgb(226, 225, 225);
    
}
.product3-bg .product3{
    height: 380px;
    background-color:rgb(226, 225, 225);
}
.product3-bg .product3 h3{
    font-size: 24px;
    font-weight: 400;
    color: rgb(84, 81, 81);
    margin-bottom: 10px;
    display: inline-block;
    
  
}
.product3-bg .product3 .end-i{
    font-size: 24px;
    font-weight: 400;
    color: rgb(84, 81, 81);
    
    display: inline-block;
    margin-left:930px;
    color: rgb(39, 168, 255);
}
.product3-bg .product3 .product-3{
  display: flex;
  justify-content: space-between;
  
}
.product3-bg .product3 .product-3 .product3-item a{
    color: rgb(167, 157, 157);
}
.product3-bg .product3 .product-3 .product3-item{
    height: 300px;
    width: 190px;
    background: rgb(255, 255, 255);
    text-align: center;
    transition: all linear 0.4s;
    
}
.product3-bg .product3 .product-3 .product3-item:hover{
    box-shadow: 0px 5px 12px 5px gray;
}
.product3-bg .product3 .product-3 .product3-item img{
   height: 200px;
   width: 190px;
    
}
.product3-bg .product3 .product-3 .product3-item h3{
  font-size: 20px;
  margin: 20px;
}
.product3-bg .product3 .product-3 .product3-item p{
  font-size: 14px;
}



/* ====================
services  Css End
 ====================*/



 .product2-bg{
     height: 380px;
     background-color:rgb(226, 225, 225);
    
 }
 .product2-bg .product2{
     height: 380px;
     width: 1190px;
    
    
     background-color:rgb(226, 225, 225);

 }
 .product2-bg .product2 h1{
     font-size: 24px;
     color: rgb(146, 146, 146);
     margin-bottom: 0;

 }
 .product2-bg .product2 .products2{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
  align-items: center;
  margin-top: 30px;
    
 }
 .product2-bg .product2 .products2 .product2-item{
    width: 147px;
    height: 149px;
   
    margin-bottom: 1px;
    transition: all linear 0.4s;
    text-align: center;

 }
 .product2-bg .product2 .products2 .product2-item img{
    width: 147px;
   height: 110px;
  font-size: 14px;
   
 }


 .product2-bg .product2 .products2 .product2-item:hover{
    
     box-shadow: 0px 5px 10px 1px gray;
     
}


 .product2-bg{
     height: 410px;
  
     background-color: rgb(245, 245, 245);
    
 }
 .product2-bg .product2{
    height: 410px;
     width: 1190px;
    
    
     background-color: rgb(245, 245, 245);

 }
 .product2-bg .product2 h1{
     font-size: 24px;
     color: rgb(146, 146, 146);
     margin-bottom: 0;

 }
 .product2-bg .product2 .products2{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
  align-items: center;
  margin-top: 30px;
    
 }
 .product2-bg .product2 .products2 .product2-item{
    width: 147px;
    height: 149px;
   
    margin-bottom: 1px;
    transition: all linear 0.4s;
    text-align: center;

 }
 .product2-bg .product2 .products2 .product2-item img{
    width: 147px;
   height: 110px;
  font-size: 14px;
   
 }


 .product2-bg .product2 .products2 .product2-item:hover{
    
     box-shadow: 0px 5px 10px 1px gray;
     
}



.product4-bg{
    height: 1130px;
    background-color:rgb(226, 225, 225);
    
}
.product4-bg .product4{
    height:1130px;
    
}
.product4-bg .product4 h3{
    font-size: 24px;
    font-weight: 400;
    color: rgb(84, 81, 81);
    margin-bottom: 10px;
    display: inline-block;
    
  
}

.product4-bg .product4 .product-4{
  display: flex;
  justify-content: space-between;
 
}
.product4-bg .product4 .product-4 .product4-item a{
    color: rgb(167, 157, 157);
}
.product4-bg .product4 .product-4 .product4-item{
    height: 320px;
    width: 190px;
    background: rgb(255, 255, 255);
    text-align: center;
    transition: all linear 0.4s;
    margin-bottom: 30px;

    
}
.product4-bg .product4 .product-4 .product4-item:hover{
    box-shadow: 0px 5px 12px 5px gray;
}
.product4-bg .product4 .product-4 .product4-item img{
   height: 200px;
   width: 190px;
    
}
.product4-bg .product4 .product-4 .product4-item h3{
  font-size: 20px;
  margin: 20px;
}
.product4-bg .product4 .product-4 .product4-item p{
  font-size: 14px;
}


.product4-bg .product4 .product-4 .product4-item h4{
    color: rgb(60, 60, 60);
    padding-top: 5px;
    padding-bottom: 5px;
}
.product4-bg .product4 .product-4 .product4-item h2{
    color: rgb(232, 141, 23);
}
.product4-bg .product4 .product-4 .product4-item h3{
    display: inline;
    color: rgb(60, 60, 60);
   
    
}
.product4-bg .product4 .product-4 .product4-item h5{
    display: inline;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(60, 60, 60);
}




.bta-bg{
    height: 70px;
   
    background: #000;
    background-color:rgb(226, 225, 225);
    padding-top: 20px;
   
}
.bta-bg .bta{
    height: 70px;
  
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.bta-bg .bta .cta{
   height: 50px;
   width: 400px;
   border: 1px solid rgb(4, 146, 255);
   position: relative;
   z-index: 1;
   cursor: pointer;
}
.bta-bg .bta .cta a{
  line-height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  color:rgb(4, 146, 255);
}



.bta-bg .bta .cta::after{
  content: '';
  width: 0;
  height: 100%;
  background-color: rgb(11, 94, 247);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all linear 0.4s;
  
}
.bta-bg .bta .cta:hover::after{
  content: '';
  width: 50%;
  opacity: 1;
  
}
.bta-bg .bta .cta::before{
  content: '';
  width: 0;
  height: 100%;
  background-color: rgb(11, 94, 247);
  position: absolute;
  top: 0;
  right:  0;
  opacity: 0;
  z-index: -1;
  transition: all linear 0.4s;
  
}
.bta-bg .bta .cta:hover::before{
  content: '';
  width: 50%;
  opacity: 1;
  color: #fff;
  
}
.bta-bg .bta .cta:hover a{
 
  color: #fff;
  
}

.messages button{
    height: 50px;
    width: 100px;
    border: 1px solid rgb(4, 146, 255);
    position: fixed;
   right: 10px;
    bottom: 10px;
    cursor: pointer;
    color: rgb(11, 94, 247);
    background: rgb(255, 255, 255);

    text-transform: uppercase;
}

.messages button::after{
    content: '';
    width: 0;
    height: 100%;
    background-color: rgb(11, 94, 247);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all linear 0.4s;
    
  }
  .messages button:hover::after{
    content: '';
    width: 50%;
    opacity: 1;
    
  }
  .messages button::before{
    content: '';
    width: 0;
    height: 100%;
    background-color: rgb(11, 94, 247);
    position: absolute;
    top: 0;
    right:  0;
    opacity: 0;
    z-index: -1;
    transition: all linear 0.4s;
    
  }
  .messages button:hover::before{
    content: '';
    width: 50%;
    opacity: 1;
    color: #fff;
    
  }
  .messages button:hover{
      color: #fff;
  }

.footter-bg{
    height: 280px;
    background-color: rgb(46, 46, 84);
}
.footter-bg .footter{
    height: 280px;
    background-color: rgb(17, 17, 253);
}
.footter-bg .footter{
    height: 280px;
    background-color: rgb(46, 46, 84);
    display: flex;
    justify-content: space-between;
}
.footter-bg .footter .footter-item1{
 height: 100%;
 width: 300px;
 background: rgb(46, 46, 84);
}
.footter-bg .footter .footter-item1 h1{
font-size: 24px;
color: #fff;
padding-top: 20px;
margin-bottom: 10px;

}
.footter-bg .footter .footter-item1 ul li a{
font-size: 14px;
color: #fff;
margin-top: 8px;


}
.footter-bg .footter .footter-item1 ul li a:hover{


border-bottom: 1px solid rgb(255, 255, 255);



}



.footter-bg .footter .footter-item2{
 height: 100%;
 width: 590px;
 background-color: rgb(46, 46, 84);
}
.footter-bg .footter .footter-item2 img{
width: 200px;
display: inline;
margin: 50px;
}
.footter-bg .footter .footter-item2 .f-i{
width: 100px;
display: inline;
}



/* ==================

Product Cart SEction Start 
=================== */




.product-cart-bg{
    height: 600px;
    

}
.product-cart-bg .product-cart{
    height: 600px;
  
    display: flex;
    justify-content: space-between;

}
.product-cart-bg .product-cart .cart{
    height: 500px;
    width: 390px;
 

}
.product-cart-bg .product-cart .product-cart-1 img{
   width: 350px;
    

}
.product-cart-bg .product-cart .product-cart-2 h3{
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    

}
.product-cart-bg .product-cart .product-cart-2 a span{
   color: aqua;
   padding-left: 10px;
   padding-right: 10px;
   border-right: 1px solid rgb(0, 0, 0);

}
.product-cart-bg .product-cart .product-cart-2 .ss span{
    color: aqua;
   padding-left: 10px;
   padding-right: 10px;
   border-right: none;
 

}
.product-cart-bg .product-cart .product-cart-2 hr{
   margin-top: 50px;
  background: none;
   color: rgb(0, 0, 0);
 

}
.product-cart-bg .product-cart .product-cart-2 h2{
   font-size: 36px;
   padding-top: 20px;
   padding-left: 10px;

}
.product-cart-bg .product-cart .product-cart-2 h3{
   display: inline;
   margin-right: 10px;
   margin-bottom: 20px;

}
.product-cart-bg .product-cart .product-cart-2 h5{
    display: inline;
    font-size: 16px;

}
.product-cart-bg .product-cart .product-cart-2 .cta{
    margin-top: 50px;
}
.product-cart-bg .product-cart .product-cart-2 .cta a{
  padding: 15px 40px;
  background: rgb(8, 197, 240);
  margin-left: 20px;
  color: #fff;
  text-transform: uppercase;
  transition: all linear 0.4s;
  
 
}
.product-cart-bg .product-cart .product-cart-2 .cta a:hover{
  padding: 15px 40px;
  background: rgb(247, 219, 8);
  margin-left: 20px;
  color: #fff;
  text-transform: uppercase;

 
}








/* ==================

Product Cart SEction End
=================== */






